# 《Python 机器学习及实践》

# #代码13 良/恶性乳腺肿瘤数据预处理

In [99]:
#导入pandas与numpy工具包
import pandas as pd
import numpy as np

#创建特征列表
column_names = ['Sample code number','Clump Thickness','Uniformity of Cell size',
                 'Uniformity of Cell Shape','Marginal Adhesion',
                 'Single Epithelial Cell Size','Bare Nuclei',
                 'Bland Chromatin','Normal Nucleoli','Mitoses','Class']

知识点：
1.pandas工具包中主要包括对数据进行快捷分析和处理的函数
2.numpy 工具包包含向量，矩阵和复杂科学计算的函数
3.导入函数包可以使用import命令，也可以使用from A import B
4.列表用中括号[]表示

In [100]:
data = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data', names = column_names )

知识点：
从该链接读取原始数据集，表格横坐标的表头用列表对应的数据表示

In [101]:
data #查看原始数据集

,Sample code number,Clump Thickness,Uniformity of Cell size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
5,1017122,8,10,10,8,7,10,9,7,1,4
6,1018099,1,1,1,1,2,10,3,1,1,2
7,1018561,2,1,2,1,2,1,3,1,1,2
8,1033078,2,1,1,1,2,1,1,1,5,2
9,1033078,4,2,1,1,2,1,2,1,1,2
10,1035283,1,1,1,1,1,1,3,1,1,2
11,1036172,2,1,1,1,2,1,2,1,1,2
12,1041801,5,3,3,3,2,3,4,4,1,4
13,1043999,1,1,1,1,2,3,3,1,1,2
14,1044572,8,7,5,10,7,9,5,5,4,4
15,1047630,7,4,6,4,6,1,4,3,1,4
16,1048672,4,1,1,1,2,1,2,1,1,2
17,1049815,4,1,1,1,2,1,3,1,1,2
18,1050670,10,7,7,6,4,10,4,1,2,4
19,1050718,6,1,1,1,2,1,3,1,1,2
20,1054590,7,3,2,10,5,10,5,4,4,4
21,1054593,10,5,5,3,6,7,7,10,1,4
22,1056784,3,1,1,1,2,1,2,1,1,2
23,1057013,8,4,5,1,2,?,7,3,1,4
24,1059552,1,1,1,1,2,1,3,1,1,2
25,1065726,5,2,3,4,2,7,3,6,1,4
26,1066373,3,2,1,1,1,1,2,1,1,2
27,1066979,5,1,1,1,2,1,2,1,1,2
28,1067444,2,1,1,1,2,1,2,1,1,2
29,1070935,1,1,3,1,2,1,1,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
669,1350423,5,10,10,8,5,5,7,10,1,4
670,1352848,3,10,7,8,5,8,7,4,1,4
671,1353092,3,2,1,2,2,1,3,1,1,2
672,1354840,2,1,1,1,2,1,3,1,1,2
673,1354840,5,3,2,1,3,1,1,1,1,2
674,1355260,1,1,1,1,2,1,2,1,1,2
675,1365075,4,1,4,1,2,1,1,1,1,2
676,1365328,1,1,2,1,2,1,2,1,1,2
677,1368267,5,1,1,1,2,1,1,1,1,2
678,1368273,1,1,1,1,2,1,1,1,1,2
679,1368882,2,1,1,1,2,1,1,1,1,2
680,1369821,10,10,10,10,5,10,10,10,7,4
681,1371026,5,10,10,10,4,10,5,6,3,4
682,1371920,5,1,1,1,2,1,3,2,1,2
683,466906,1,1,1,1,2,1,1,1,1,2
684,466906,1,1,1,1,2,1,1,1,1,2
685,534555,1,1,1,1,2,1,1,1,1,2
686,536708,1,1,1,1,2,1,1,1,1,2
687,566346,3,1,1,1,2,1,2,3,1,2
688,603148,4,1,1,1,2,1,1,1,1,2
689,654546,1,1,1,1,2,1,1,1,8,2
690,654546,1,1,1,3,2,1,1,1,1,2
691,695091,5,10,10,5,4,5,4,4,1,4
692,714039,3,1,1,1,2,1,1,1,1,2
693,763235,3,1,1,1,2,1,2,1,2,2
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [102]:
data = data.replace(to_replace='?',value=np.nan)#将？替代为标准缺失值
data = data.dropna(how='any')#丢弃带有缺失值的数据

知识点：
这是一个数据清洗的过程，把带有不确定值的数据，替换为标准缺失值，并将其移除

In [103]:
data.shape#输出data的数据量和维度

(683, 11)

小结：
从输出的的结果可以看出，经过简单的处理之后，无缺失值的数据样本共683条，特征包括细胞厚度、细胞大小、形状等9个维度

# #代码14：准备良/恶性乳腺癌肿瘤训练、测试数据

In [104]:
from sklearn.model_selection import train_test_split
#导入sklearn.model_selection里的train_test_split模块，用于分割数据

知识点：
书本源代码为 
from sklearn.cross_validation import train_test_split
但是由于库已更新会找不到工具包，代码改为
from sklearn.model_selection import train_test_split

In [105]:
X_train,X_test,y_train,y_test = train_test_split(data[column_names[1:10]],
    data[column_names[10]],test_size=0.25,random_state = 33)
#随机采样25%的数据用于测试，剩下的75%用于构建训练集合

知识点：
train_test_split是交叉验证中常用的函数，功能是从样本中随机的按比例选取train data和test data。
语法：
    X_train,X_test, y_train, y_test =cross_validation.train_test_split   (train_data,train_target,test_size=0.4,random_state=0)
参数：
    train_data：所要划分的样本特征集合
    train_target：所要划分的样本结果(标签)
    test_size：样本占比，如果是整数就是样本的数量
    random_state：随机数的种子
随机数种子：    
    随机数的产生取决于种子，随机数和种子之间的关系遵从以下两个规则：
    种子不同，产生不同的随机数；种子相同，即使实例不同也产生相同的随机数

In [106]:
y_train.value_counts()
#查验训练样本的数量和类别分布

2    344
4    168
Name: Class, dtype: int64

In [107]:
y_test.value_counts()
#查验测试样本的数量和类别分布

2    100
4     71
Name: Class, dtype: int64

In [108]:
X_train#查看x-train 训练数据集

,Clump Thickness,Uniformity of Cell size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses
662,1,1,3,1,2,1,2,1,1
282,1,4,3,10,4,10,5,6,1
542,5,3,1,1,2,1,1,1,1
301,1,1,1,1,2,1,3,1,1
95,1,1,1,1,2,1,3,1,1
591,2,5,7,6,4,10,7,6,1
356,5,3,3,1,3,3,3,3,3
17,4,1,1,1,2,1,3,1,1
582,6,10,5,5,4,10,6,10,1
460,5,1,1,3,2,1,1,1,1
426,5,3,6,1,2,1,1,1,1
693,3,1,1,1,2,1,2,1,2
148,3,1,1,3,8,1,5,8,1
597,5,1,3,1,2,1,3,1,1
377,1,1,1,1,1,1,2,1,1
193,1,1,1,1,2,1,3,1,1
578,1,1,1,1,2,1,2,1,1
306,1,1,1,1,2,1,3,1,1
98,9,6,9,2,10,6,2,9,10
325,3,2,2,1,2,1,2,3,1
198,1,1,1,1,2,1,1,1,1
44,10,10,10,4,8,1,8,10,1
429,2,1,1,1,2,1,2,1,1
313,1,1,1,1,2,1,1,1,1
74,10,6,4,1,3,4,3,2,3
640,4,1,1,3,2,1,1,1,1
549,7,8,3,7,4,5,7,8,2
367,5,8,8,10,5,10,8,10,3
121,4,2,1,1,2,2,3,1,1
570,8,10,4,4,8,10,8,2,1
...,...,...,...,...,...,...,...,...,...
216,1,1,1,1,2,1,2,1,1
534,2,1,1,1,2,1,2,1,1
594,4,8,6,3,4,10,7,1,1
666,5,2,2,2,2,1,1,1,2
7,2,1,2,1,2,1,3,1,1
610,10,4,3,10,3,10,7,1,2
101,2,3,4,4,2,5,2,5,1
550,3,1,1,1,2,1,2,1,1
418,5,2,2,2,2,2,3,2,2
358,8,10,5,3,8,4,4,10,3
86,3,3,6,4,5,8,4,4,1
543,4,1,1,1,2,1,2,1,1
254,9,10,10,1,10,8,3,3,1
630,6,2,3,1,2,1,1,1,1
607,1,1,1,1,2,1,1,1,1
678,1,1,1,1,2,1,1,1,1
409,3,1,2,1,2,1,2,1,1
178,4,1,1,1,2,1,3,1,1
558,2,1,1,1,2,1,2,1,1
560,5,1,1,1,2,1,3,1,1
413,5,1,2,1,2,1,3,1,1
63,6,3,4,1,5,2,3,9,1
104,10,10,10,10,10,1,8,8,8
201,10,8,8,4,10,10,8,1,1
59,9,5,5,2,2,2,5,1,1
207,1,1,1,1,1,1,3,1,1
674,1,1,1,1,2,1,2,1,1
593,5,1,2,1,2,1,1,1,1
405,1,1,1,1,2,1,2,1,1
20,7,3,2,10,5,10,5,4,4

# 代码15：使用线性分类模型从事良/恶性肿瘤预测任务

In [109]:
#从sklearn.preprocessing里导入StandardScaler
from sklearn.preprocessing import StandardScaler
#从sklearn.preprocessing里导入LogisticRegression,SGDClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier

In [110]:
#标准化数据，保证每个维度的特征数据方差为1，均值为0.
#使得预测结果不会被某些维度过大的特征值而主导
ss=StandardScaler()
X_train = ss.fit_transform(X_train)
#X_train = StandardScaler().fit_transform(X_train)
X_test = ss.transform(X_test)
#X_test = StandardScaler().fit_transform(X_test)

知识点：
1.StandardScaler函数
  作用：去均值和方差归一化。且是针对每一个特征维度来做的，而不是针对样本
2.fit、fit_transform、transform的区别
(1)fit
用于计算训练数据的均值和方差， 后面就会用均值和方差来转换训练数据
(2)fit_transform
不仅计算训练数据的均值和方差，还会基于计算出来的均值和方差来转换训练数据，从而把数据转换成标准的正态分布
(3)transform
它只是进行转换，只是把训练数据转换成标准的正态分布

In [111]:
#初始化LogisticRegression与SGDClassifier
lr = LogisticRegression(solver= 'liblinear')
sgdc = SGDClassifier()

In [112]:
#调用LogisticRegression中的fit函数/模块用来训练模型参数
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='liblinear', tol=0.0001, verbose=0,
                   warm_start=False)

In [113]:
#使用训练好的模型lr对X_test进行预测，结果储存在变量lr_y_predict中
lr_y_predict=lr.predict(X_test)

In [114]:
#调用SGDClassifier中的fit函数/模块用来寻来模型参数
sgdc.fit(X_train,y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [115]:
#使用训练好的模型sgdc对X_test进行预测，结果储存在变量sgdc_y_predict中
sgdc_y_predict = sgdc.predict(X_test)

# #代码16：使用线性分类模型从事良/恶性肿瘤预测任务的性能分析

In [116]:
#从sklearn.metrics里导入classification_report模块
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings("ignore")

In [117]:
#使用逻辑斯蒂回归模型自带的评分函数score获得模型在测试集上的准确性结果
print ("Accuracy of LR Classifier:{}".format(lr.score(X_test,y_test)))
#lr.score(X_test,y_test)
#利用classification_report模块获得LogisticRegression其他三个指标结果
print(classification_report(y_test,lr_y_predict,target_names=['Benign','Malignant']))

Accuracy of LR Classifier:0.9883040935672515
              precision    recall  f1-score   support

      Benign       0.99      0.99      0.99       100
   Malignant       0.99      0.99      0.99        71

    accuracy                           0.99       171
   macro avg       0.99      0.99      0.99       171
weighted avg       0.99      0.99      0.99       171

In [118]:
#使用随机梯度下降模型自带的评分函数score获得模型在测试计上大的准确性结果
print("Accuarcy of SGD Classifier:{}".format(sgdc.score(X_test,y_test)))
#利用classification_report模块获得SGDClassifier其他三个指标的结果
print(classification_report(y_test,sgdc_y_predict,target_names=['Benign','Malignant']))

Accuarcy of SGD Classifier:0.9883040935672515
              precision    recall  f1-score   support

      Benign       1.00      0.98      0.99       100
   Malignant       0.97      1.00      0.99        71

    accuracy                           0.99       171
   macro avg       0.99      0.99      0.99       171
weighted avg       0.99      0.99      0.99       171